body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: left;
    height: 100vh;
    overflow-y: scroll;
}

html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: white;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    border: 1.5px solid black;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: darkcyan;
}

.container {
    text-align: left;
    background-color: white;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    margin-top: 60px;
}

.container p {
    line-height: 1.5;
}

h1 {
    color: #000000;
    margin-bottom: 10px;
}

.container a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container a:hover {
    color: darkcyan;
}