body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #000000;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}

html, body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: white;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1.5px solid black;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: darkcyan;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    padding: 0 10px;
    width: 100%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 10px 0;
}

.blog-post {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
    text-align: left;
}

.blog-post h2 {
    margin-bottom: 5px;
}

.blog-post a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.blog-post a:hover {
    color: darkcyan;
    transition: color 0.3s ease;
}

.profile-container {
    display: flex;
    align-items: center; /* Dikey ortalama */
    justify-content: center; /* Yatay ortalama */
    gap: 15px; /* Fotoğraf ve isim arasında boşluk */
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}

.profile-pic:hover {
    border-color: darkcyan;
}

@keyframes spinEffect {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.profile-name p{
    font-size: 24px;
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

.profile-name p:hover{
    color: darkcyan;
}

a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
        padding: 0;
        margin-top: 100px;
    }
    
    .blog-post {
        width: 95%;
        padding-left: 5px; 
        padding-right: 5px;
    }
}
