body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    background-color: white;
    margin-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
    border: 1.5px solid black;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: darkcyan;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-top: 60px;
}

.container p {
    line-height: 1.5;
}

h1 {
    color: #000000;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social-icons img {
    max-width: 30px;
    max-height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    transition: filter 0.3s ease;
}

.social-icons img:hover {
    filter: brightness(0) saturate(100%) invert(41%) sepia(23%) saturate(656%) hue-rotate(137deg) brightness(90%) contrast(92%);
}

.download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.download-cv:hover {
    color: darkcyan;
}

.about p {
    color: black;
    line-height: 1.5; /* Satır boşluğunu koruduk */
    text-align: center;
}
.container a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
.container a:hover {
    color: darkcyan;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 6px solid #000000;
    transition: border-color 0.3s ease, transform 0.5s ease-in-out;
    cursor: pointer;
    transform-style: preserve-3d;
}

.profile-pic:hover {
    border-color: darkcyan;
}

@keyframes spinEffect {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}